<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ blog.title }} details</title>
</head>
<body>
<h1>{{ blog.title }}</h1>
<p>{{ blog.content }}</p>
<h2>Comments</h2>
<ul>
    {% for comment in comments %}
    <li>
        <p>{{ comment.content }}</p>
        {% if comment.positive_count > 0 %}
        <span>Positive: {{ comment.positive_count }}</span>
        {% endif %}
        <span>
            <form method="post" action="{% url 'blogs:good_response' blog.id comment.id %}">
                {% csrf_token %}
                <button type="submit">Add Positive</button>
            </form>
        </span>
        {% if comment.negative_count > 0 %}
        <span>Negative: {{ comment.negative_count }}</span>
        {% endif %}
        <span>
            <form method="post" action="{% url 'blogs:bad_response' blog.id comment.id %}">
                {% csrf_token %}
                <button type="submit">Add Negative</button>
            </form>
        </span>
    </li>
    {% endfor %}
</ul>
<form action="{% url 'blogs:add_comment' blog.id %}" method="GET">
    <button type="submit">
        Add Comment
    </button>
</form>
</body>
</html>